# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.production.local

# Netlify
.netlify

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo